db.sqlite3
events/__pycache__
events/migrations/__pycache__
events/templatetags/__pycache__
media/flyers/*
public/*
sfvm/__pycache__
.env
"production-settings.py" 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]