<!DOCTYPE html>
<html>
<head>
	<title>Hood Music - SFVM</title>
    {% load staticfiles %}
	{% include "modules/bootstrap.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

	<link rel="stylesheet" href="/static/styles/music-map.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
	<script src="/static/scripts/music-map/tracks.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/artists/map.css' %}?updated=050519">
</head>
<body>
    <div class="sidebar">
        <h1 class="header">Musicians and Bands in <span class="city">The San Fernando Valley</span><span class="location"></span></h1>
        <div class="content">
            <ol id="artists-list">
                <li>
                    <div>
                        <h3>Alzy</h3>
                        <h4>Reseda</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>Dawntin Loo</h3>
                        <h4>Winnetka</h4>                    
                    </div>
                </li>
                <li>
                    <div>
                        <h3>SFV Acid</h3>
                        <h4>Reseda</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>Visibly Hispanic Bois</h3>
                        <h4>Northridge</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>Satanic Panic</h3>
                        <h4>Reseda</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>Super Bad Blvd Burgers</h3>
                        <h4>Woodland Hills</h4>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div id="active-artist-overlay" class="hidden">
        <div class="content">
            <img src="{% static 'images/test-flyer.jpg' %}">
        </div>
    </div>
	<div id="sfvm-history-map"></div>
	<audio id="audio" style="display: none;">
		<source src="" type="audio/mpeg" id="audio-source">
	</audio>
</body>
<script src="/static/scripts/artists/map-sfv-features.js"></script>
<script src="/static/scripts/artists/map-sidebar.js"></script>
<script type="text/javascript">
    /* Map */
    var map = new L.Map('sfvm-history-map', {
        scrollWheelZoom: false,
        touchZoom: false,
        doubleClickZoom: false,
        zoomControl: false,
        dragging: false,
        maxZoom:16,
        minZoom:12,
        maxBounds: new L.LatLngBounds(
            new L.LatLng(35.6261, -114.071),
            new L.LatLng(32.4867, -120.9814)
        )
    });
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    // L.tileLayer('https://api.mapbox.com/styles/v1/alzy/cjvsop3yo0b9s1dn0ey151ldv/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWx6eSIsImEiOiJjanZzb2d5YXUwdGR3NDRvZWlkcGp0ODZrIn0.MlW3ERJUYfxf_lyHKLg_VA', {
		maxZoom: 18,
		id: 'mapbox.streets'
	}).addTo(map);

    /* Zoom and extent */
    var southWest = new L.LatLng(34.1191069991, -118.668153);
    var northEast = new L.LatLng(34.337306718, -118.266807349);
    var bounds = new L.LatLngBounds(southWest, northEast);
    map.fitBounds(bounds);
    
    /* Neighborhood */
    var defaultStyle = {
        color: "#2262CC",
        weight: 2,
        opacity: 0.6,
        fillOpacity: 0.1,
        fillColor: "#2262CC"
    }
    
    var highlightStyle = {
        color: '#2262CC', 
        weight: 3,
        opacity: 0.6,
        fillOpacity: 0.65,
        fillColor: '#2262CC'
    }

    var clickStyle = {
        color: '#2262CC', 
        weight: 3,
        opacity: 0.6,
        fillOpacity: 0.65,
        fillColor: 'red'
    }

    var onEachFeature = function(feature, layer) {
        // Load the default style. 
        layer.setStyle(defaultStyle);
        (function(layer, properties) {
          layer.on("mouseover", function (e) {
            layer.setStyle(highlightStyle);
          });
          layer.on("click", function (e) {
            layer.setStyle(clickStyle);
            sidebar = document.querySelector('.sidebar');
            sidebar.classList.remove('hidden');
            sidebar.querySelector('.location').innerText = properties.name;
            console.log(properties);
          });
          layer.on("mouseout", function (e) {
            layer.setStyle(defaultStyle);
          });
        })(layer, feature.properties);
    };
    
    var hoodLayer = L.geoJson(hoodFeatures, {
        onEachFeature: onEachFeature
    });
    map.addLayer(hoodLayer);
 
        
</script>

</html>