{% load staticfiles %}
<!-- for facebook and ig -->
<meta property="og:title" content="SFVM.LA - Local shows in the 818" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}" />
<meta property="og:description" content="A community based events listing page where you can check out or post upcoming music, art, and popup events going down in the 818" />
<meta property="og:image" content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'images/818.jpg' %}{% endblock %}" />

<!-- for general SEO -->
<meta name="Description" content="A community based events listing page where you can check out or post upcoming music, art, and popup events going down in the 818.">
<meta name="Keywords" content="sfvm san fernando valley shows events upcoming local">
