.bg1 {
    background-image: url('/static/images/bg/bg1.jpg?updated=050519');
}
.bg2 {
    background-image: url('/static/images/bg/bg2.jpg?updated=050519');
}
.bg3 {
    background-image: url('/static/images/bg/bg3.jpg?updated=050519');
}
.bg4 {
    background-image: url('/static/images/bg/bg4.jpg?updated=050519');
}
.bg5 {
    background-image: url('/static/images/bg/bg5.jpg?updated=050519');
}
.bg6 {
    background-image: url('/static/images/bg/bg6.jpg?updated=050519');
}
.bg7 {
    background-image: url('/static/images/bg/bg7.jpg?updated=050519');
}
.bg8 {
    background-image: url('/static/images/bg/bg8.jpg?updated=050519');
}
.bg9 {
    background-image: url('/static/images/bg/bg9.jpg?updated=050519');
}
.bg10 {
    background-image: url('/static/images/bg/bg10.jpg?updated=050519');
}
.bg11 {
    background-image: url('/static/images/bg/bg11.jpg?updated=050519');
}
.bg12 {
    background-image: url('/static/images/bg/bg12.jpg?updated=050519');
}
.bg13 {
    background-image: url('/static/images/bg/bg13.jpg?updated=050519');
}
.bg14 {
    background-image: url('/static/images/bg/bg14.jpg?updated=050519');
}
.bg15 {
    background-image: url('/static/images/bg/bg15.jpg?updated=050519');
}
.bg16 {
    background-image: url('/static/images/bg/bg16.jpg?updated=050519');
}
