@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");



.full-width {
    width: calc(100% + 30px);
    margin: 0 -15px;
}

html, body {
    overflow-x: hidden;
}

body {
    background-size: contain;
}

article {
    padding: 0 2em !important;
}

.top-banner {
    height: 66vh;
    cursor: pointer;
}

#site-navigation {
    margin: 20px 0px;
}
#site-navigation a {
    color: #333333;
    text-decoration: none;
    font-size: 2em;
    margin: 0 1em;
    opacity: 0.5;
}
#site-navigation a:nth-of-type(1) {
    margin: 0;
}
#site-navigation a.active {
    font-weight: bold;
    opacity: 1;
}
.upcoming-events {
    background-color: rgba(255, 255, 255, 0.95);
}
.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.event-list > li {
    border-top: 1px #C8C8C8 solid;
    padding: 1em 0px;
    margin: 0px;
}
.event-list > li:nth-of-type(1) {
    border-top: none;
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    display: block;
    font-size: 5em;
    font-weight: 100;
    line-height: 1;
}
.event-list > li time > .month {
    display: block;
    font-size: 2em;
    font-weight: 900;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > a > .title {
    color: black;
    font-size: 2em;
    font-weight: 700;
    margin-top: 0px;
}
.event-list > li > .info > a {
    color: black;
}
.event-list > li > .info > .details {
    margin-bottom: 0.666em;
}
.event-list > li > .info > .details > .price {
    margin-right: 0.666em;
}
.event-list > li > .info > .details > .price .free{
    color: green;
    font-weight: 700;
}
.event-list > li > .info > .desc {
    margin: 0px;
}

/* FOOTER */
footer {
    padding: 8em 0 1em 0;    
}
footer .logo img {
    display: block;
    max-height: 8em;
    margin: 0 auto;
}
.submit-an-event {
    width: 100%;
}
.submit-an-event a {
    color: black;
    display: table;
    margin: 0 auto;
    font-size: 1em;
    padding: 1em 0;
}
.article {
    background-color: rgba(255, 255, 255, 0.95);
    min-height: 100vh;
}
.article article {
    min-height: 100vh;
}



/* ABOUT PAGE */
#about {
    font-size: 2em;
    margin-top: 1.5em;
}
#about h1 {
    font-weight: bold;
}


@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        min-height: 120px;
        text-align: left;
        padding-right: 40px;
    }   

    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}


@media (max-width: 992px) {
    .article,
    .top-banner,
    .upcoming-events {
        margin: 0 !important;
        width: 100% !important;
    }
}
