article {
    padding: 0 0 3em 0 !important;
}
.article.add-event {

    section {
        margin: 3em 0;
        position: relative;
    }

    input, textarea {
        display: block;
        padding: 10px;
    }

    input[name=name] {
        width: 100%;
        font-size: 2em;
    }

    input[name=image] {
        width: calc(100% + 30px);
        height: 93.75%;
        margin: 0 -15px;
        position: absolute;
        opacity: 0;
        z-index: 999;
        cursor: pointer;
    }

    canvas {
        width: calc(100% + 30px);
        margin: 0 -15px;
        background: url('/static/images/draganddrop.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.75;

        &.set {
            opacity: 1;
            background: unset;
        }
    }


    textarea[name=short_description] {
        width: 100%;
        height: 5em;
    }
    .ql-toolbar {
        margin: 0px -15px;
    }
    div.event-description {
        margin: 0px -15px;
        .ql-editor {
            background-color: white;
            min-height: 10em;
        }
    }
    input[name=address] {
        width: 50%;
    }
    input[name=start_date],
    input[name=end_date] {
        display: block !important;
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    input[name=more_details_link] {
        width: 75%;
    }



    input[name=Submit] {
        padding: 10px 20px;
        font-weight: bold;
    }
}