<!DOCTYPE html>
<html>
<head>
    <title>SFVM - About</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% include "modules/metatags.html" %}
    {% include "modules/analytics.html" %}

    {% include "modules/bootstrap.html" %}

    {% load random_numbers %}
</head>
<body class="bg{% random_int 1 16 %}">
    <div class="container">
        <div class="row">
            <div class="top-banner [ col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 ]">
            </div>
            <div class="upcoming-events [ col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 ]">
                <nav id="site-navigation">
                    <a href="/">Events</a>
                    <a href="/about" class="active">About</a>
                    <a href="/submit-event">Submit</a>
                </nav>
                <p>&nbsp;</p>
                <article id="about">
                    <h1>What is SFVM?</h1>
                    <p>SFVM is a non-profit project focused on promoting and supporting local music and arts in the San Fernando Valley. We believe there is a lot of talent in the valley which is largely over looked -ignored in favor of traveling south into Los Angeles for something to do. We are here to change that.</p>
                    <p>&nbsp;</p>
                    <p>SFVM relies on community involvement to stay afloat. You can support us by <a href="/submit-event">submitting events</a> or by spreading the word and encouraging others to get involved.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </article>
                {% include "modules/homepage-carousel.html" %}
                {% include "modules/footer.html" %}
            </div>
        </div>
    </div>

</body>
</html>