<!DOCTYPE html>
<html>
<head>
    <title>SFVM - About SFVM</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>


    <!-- for facebook and ig -->
    <meta property="og:title" content="SFVM - About SFVM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}" />
    <meta property="og:description" content="SFVM is a non-profit project focused on promoting and supporting the local music and arts scene in the San Fernando Valley. Our goal is to help grow a community of musicians, artists, and art lovers alike and to enable them to get out there and host their own local events." />
    <meta property="og:image" content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'images/818.jpg' %}{% endblock %}" />

    <!-- for general SEO -->
    <meta name="Description" content="SFVM is a non-profit project focused on promoting and supporting the local music and arts scene in the San Fernando Valley. Our goal is to help grow a community of musicians, artists, and art lovers alike and to enable them to get out there and host their own local events.">
    <meta name="Keywords" content="about sfvm san fernando valley shows events upcoming local">
    {% include "modules/analytics.html" %}

    {% include "modules/bootstrap.html" %}

    {% load random_numbers %}
</head>
<body class="bg{% random_int 1 16 %} {% if isMobileView %}mobile-app-view{% endif %}">
    <div class="container">
        <div class="row">
            <div class="top-banner [ col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 ]">
            </div>
            <article class="upcoming-events [ col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 ]">
                <nav id="site-navigation">
                    <a href="/">Events</a>
                    <a href="/about" class="active">About</a>
                    <a href="/submit-event">Submit</a>
                </nav>
                <section id="about">
                    <h1>What is SFVM?</h1>
                    <p>SFVM is a non-profit project focused on promoting and supporting the local music and arts scene in the San Fernando Valley. Our goal is to help grow a community of musicians, artists, and art lovers alike and to enable them to get out there and host their own local events.</p>
                    <p>&nbsp;</p>
                    <p><u>SFVM relies on community involvement to stay afloat.</u> You can support us by <a href="/submit-event">submitting events</a> or by spreading the word and encouraging others to get involved.</p>
                    <p>&nbsp;</p>
                    <p>You can follow us on instagram at <a href="https://www.instagram.com/sfvm.la/">@sfvm.la</a></p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </section>
                {% include "modules/homepage-carousel.html" %}
                {% include "modules/footer.html" %}
            </article>
        </div>
    </div>

</body>
</html>