<!DOCTYPE html>
<html>
<head>
    <title>{{heading}}</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% include "modules/metatags.html" %}
    {% include "modules/analytics.html" %}

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/backgrounds.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/event-details.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- cdn scripts -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% load random_numbers %}
</head>
<body class="bg{% random_int 1 13 %}">
    <div class="container">
        <div class="row">
            <div class="article event-details [ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <article>
                    {% if event %}
                        {% if event.image %}
                            <img src="{{event.image.url}}" class="flyer">
                        {% endif %}
                        <h1>{{event.name}}</h1>
                        <section class="details">
                            <table>
                                <tr>
                                    <td class="price">
                                        <strong>$</strong>
                                        <h4>
                                            {% if event.price == 0.00 %}
                                                FREE
                                            {% else %}
                                                {{event.price}}
                                            {% endif %}
                                        </h4>
                                    </td>
                                    <td class="date">
                                        <strong>When: </strong><h4>
                                            {{event.start_date}}
                                        </h4>
                                    </td>
                                    <td class="address">
                                        <strong>Where: </strong><h4>{{event.address}}, {{event.city}}</h4>
                                    </td>
                                </tr>
                            </table>
                        </section>
                        <section class="description">
                            {{event.description|safe}}
                            {% if event.end_date %}
                                <p>Event ends {{event.end_date}}</p>
                            {% endif %}
                        </section>
                    {% else %}
                        <h1>NO MATCHING EVENT</h1>
                    {% endif %}
                </article>
                {% include "modules/footer.html" %}
            </div>
        </div>
    </div>

</body>
</html>