<!DOCTYPE html>
<html>
<head>
    <title>SFVM - Event Submitted</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% include "modules/metatags.html" %}
    {% include "modules/analytics.html" %}

    {% include "modules/bootstrap.html" %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/event-submitted.css' %}">
</head>
<body class="{% if isMobileView %}mobile-app-view{% endif %}">
    <div id="event-submitted-text">
        <h1>Thank You!</h1>
        <h2>Your event has been submitted.</h2>
        <h3>Once your event has been appproved, it will be available for all to see.</h3>
    </div>
    <video class="video-player" loop playsinline  webkit-playsinline autoplay muted>
        <source src="{% static 'videos/8ballfield_mute.mp4' %}" type="video/webm">
        Your browser does not support the video tag.
    </video>
        <script type="text/javascript">
            setTimeout(function () {
                document.location.href="/";
            }, 5000);
        </script>
    </div>
</body>
</html>