<!DOCTYPE html>
<html>
<head>
    <title>{{heading}}</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% include "modules/metatags.html" %}
    {% include "modules/analytics.html" %}

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/event-details.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- cdn scripts -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="cursor: progress;">
        <div class="row">
            <div class="article event-details [ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <article>
                    <video class="video-player" loop playsinline  webkit-playsinline autoplay>
                        <source src="{% static 'videos/8ballfield_mute.mp4' %}" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                    <h1>Thank You</h1>
                    <h2>Your event has been submitted</h2>
                    <h3>Once your event has been appproved, it will be available for all to see.</h3>
                </article>
                <footer>
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'images/818.svg' %}">
                        </a>
                    </div>
                    <div class="submit-an-event">
                        <a href="/add-event/">Submit an event</a>
                    </div>                    
                </footer>
            </div>
        </div>
        <script type="text/javascript">
            setTimeout(function () {
                document.location.href="/";
            }, 5000);
        </script>
    </div>
    <footer>
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/818.svg' %}">
            </a>
        </div>
        <div class="submit-an-event">
            <a href="/add-event/">Submit an event</a>
        </div>                    
    </footer>
</body>
</html>