<!DOCTYPE html>
<html>
<head>
    <title>Upcoming Events</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% include "modules/metatags.html" %}
    {% include "modules/analytics.html" %}

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/backgrounds.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- cdn scripts -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% load random_numbers %}
</head>
<body class="bg{% random_int 1 16 %}">
    <div class="container">
        <div class="row">
            <div class="top-banner [ col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 ]">
            </div>
            <div class="upcoming-events [ col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 ]">
                <h1 class="upcoming-events-heading">Upcoming Events</h1>
                <a href="/music-map" class="hidden" id="music-map-icon">
                    <img src="/media/music-map/images/marker-icon.png" style="position: absolute; right: 20px; top: -20px;">
                    <script type="text/javascript">
                        let mapbool = Math.round(Math.random() * 3);
                        if (mapbool == 2) {
                            document.getElementById("music-map-icon").className = "";
                        }
                    </script>
                </a>
                <ul class="event-list">
                    {% load tz %}
                    {% localtime off %}
                    {% if events %}
                        {% for event in events %}
                            <li>
                                <time datetime="2014-07-20">
                                    <span class="month">{{event.start_date|date:"M"}}</span>
                                    <span class="day">{{event.start_date.day}}</span>
                                </time>
                                <div class="info">
                                    <a href="/events/{{event.slug}}">
                                        <h2 class="title">{{event.name}}</h2>
                                    </a>
                                    <div class="details">
                                        <span class="price">
                                            {% if event.price == 0.00 %}
                                                <span class="free">$ FREE</span>
                                            {% else %}
                                                $ {{event.price}}
                                            {% endif %}                                            
                                        </span>
                                        <strong>{{event.city}}</strong>
                                    </div>
                                    <p class="desc">{{event.short_description}}</p>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif%}
                    {% endlocaltime %}
                </ul>
                {% include "modules/homepage-carousel.html" %}
                <footer>
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'images/818.svg' %}">
                        </a>
                    </div>
                    <div class="submit-an-event">
                        <a href="/add-event/">Submit an event</a>
                    </div>                    
                </footer>
            </div>
        </div>
    </div>

</body>
</html>