<!DOCTYPE html>
<html>
<head>
    <title>Upcoming Events</title>
    
    {% load staticfiles %}
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- cdn scripts -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="top-banner [ col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 ]">
            </div>
            <div class="upcoming-events [ col-xs-12 col-sm-offset-1 col-sm-10 col-sm-offset-1 ]">
                <h1 class="upcoming-events-heading">Upcoming Events</h1>
                <ul class="event-list">
                    {% if events %}
                        {% for event in events %}
                            <li>
                                <time datetime="2014-07-20">
                                    <span class="month">{{event.start_date|date:"M"}}</span>
                                    <span class="day">{{event.start_date.day}}</span>
                                </time>
                                <div class="info">
                                    <a href="/events/{{event.slug}}">
                                        <h2 class="title">{{event.name}}</h2>
                                    </a>
                                    <p class="desc">{{event.description}}</p>
                                    <ul>
                                        <li>$ {{event.price}}</li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif%}
                </ul>
            </div>
        </div>
    </div>

</body>
</html>